.document {
    padding-top: rem(240);
    padding-bottom: rem(240);
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 980px;
        top: 0;
        left: 0;
        background: url(@img/document-fon1.png) no-repeat center center / cover;
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 900px;
        bottom: 0;
        left: 0;
        background: url(@img/document-fon2.png) no-repeat center center / cover;
        z-index: -1;
    }
    @media(max-width:2220px){
        &::before {
            height: 900px;
        }
        &::after {
            height: 940px;
        }
    }
    @media(max-width:1025px){
        &::before {
            height: 800px;
        }
        &::after {
            height: 840px;
        }
    }

    &__container {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 445.4px;
            height: 128.61px;
            bottom: -270px;
            left: 92%;
            background: url(@img/document-obl3.png) no-repeat center center / cover;
            z-index: 1;
        }
    }

    &__row {
        display: flex;
        // row-gap: rem(30);
        @media(max-width:840px){
            flex-wrap: wrap;
            // flex-direction: column-reverse;
        }
    }

    &__img {
        flex: 0 1 48%;
        max-width: rem(486);
        max-height: rem(647);
        position: relative;
        // width: 100%;
        // height: 100%;
        border: 20px solid #FFFFFF;
        border-radius: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 300px;
        }
        @media(max-width:840px){
            margin: 0 auto;
            flex: 0 1 100%;
            max-width: rem(486);
            max-height: rem(647);
        }
        &::before {
            position: absolute;
            content: '';
            width: 272px;
            height: 106.84px;
            top: -40px;
            left: 60%;
            background: url(@img/document-obl1.png) no-repeat center center / cover;
            z-index: 1;
        }
        &::after {
            position: absolute;
            content: '';
            width: 234.62px;
            height: 119.25px;
            bottom: -30px;
            right: 71%;
            background: url(@img/document-obl2.png) no-repeat center center / cover;
            z-index: 1;
        }
    }

    &__body {
        flex: 0 1 52%;
        @include adaptiveClamp(margin-top, 80, 30);
        @include adaptiveClamp(margin-left, 100, 10);
        @media(max-width:1040px){
            @include adaptiveClamp(margin-left, 20, 10);
        }
        @media(max-width:840px){
            flex: 0 1 100%;
        }
    }

    &__title {
    }

    &__text {
        @include adaptiveClamp(margin-top, 40, 20);
        
    }

    &__list {
        @include adaptiveClamp(margin-top, 30, 15);
        margin-left: rem(10);
        max-width: rem(550);
        @media(max-width:520px){
            margin-left: rem(0);

        }
    }

    &__item {
        margin-bottom: rem(4);
        display: flex;
        span {
            @include adaptiveClamp(margin-bottom, 0, 0);
            margin-right: rem(5);
        }
    }

    &__button-row {
        @include adaptiveClamp(margin-top, 40, 20);
    }

    &__button {
    }
}
.button {
}
